* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-problema1 {
    background-color: rgb(91, 23, 131);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.main-problema1 form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap:2vw;
    height: 70%;
    flex-direction: column;
    background-color: #ffa;
    position:relative;
}
.main-problema1 form h2 {
    position: absolute;
    top: 2%;
    font-size: 3vw;
    color:rgb(171, 44, 142) ;
}
.main-problema1 form input {
    width: 80%;
    padding:4vw;
    border: none;
    padding: 1vw;
    background-color: rgb(211, 160, 219);
    color: rgb(0, 0, 0);
    border: 2px solid #000;
    border-radius: 2vw;
    font-size: 1vw;
    font-weight: 600;
}
.main-problema1 form input::placeholder {
    color: rgb(0, 0, 0);
    font-weight: 100;
}
.main-problema1 form input[type="submit"] {
    background-color: rgb(56, 191, 65);
    color: rgb(240, 240, 214);
    font-size: 1vw;
    width: 50%;
    border: none;
    height: 3.5vw;
}
.main-problema1 form input[type="submit"]:hover {
    background-color: rgb(48, 110, 33);
    cursor: pointer;
}
.red {
    color:#f00;
}
.green {
    color: rgb(24, 143, 20);
}
/*Problema 2*/
.grid-container{
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: repeat(4,minmax(min-content,max-content));
    grid-auto-rows:50px;
    font-family: sans-serif;
    background-color: #ededed;
}
.grid-container .grid-item {
    padding: 10px;
    border: 2px solid #26a;
    margin: 3px;
    background-color: #fff;
}
.boton-confirmar {
    padding: 9px 40px;
    background-color: #48e;
    color: #fff;
    border: none;
    margin: auto;
    margin: 30px;
}
.boton-confirmar:hover {
    background-color: rgb(28, 73, 141);
}
.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgb(115, 115, 133);
}